# Ignore build artifacts
build/
dist/

# build docs
docs/

# ignore pycache
__pycache__/
/filter_stations/__pycache__/filter_stations/__pycache__/

# ignore .egg-info
filter_stations.egg-info/

# test filter-stations
filter-stations.py

# Ignore virtual environment
venv/
